/* font-family: 'Monoton', cursive; */
/* font-family: 'Oswald', sans-seri; */

body{
    margin: auto;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.board {
    display: flex;
    flex-direction: column;

}
h1{
    text-align: center;
    font-size: 75px;
    color: violet;
    margin-bottom: 0px;
    font-family: 'Monoton', cursive;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 225px;
    gap: 5px;
    margin: 0 auto;
    transform: translateX(-20%);
    
}
.cell {
    width:100px;
    height: 100px;
    background-color: teal;
    border-radius: 0.3em;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;;
}


.cell:hover{
    position: relative;
    bottom: 5px;
}

.btn {
    padding: .3em;
    font-size: 18px;
    border-radius: 1em;
    background-color: teal;
    color: bisque;
    width: 150px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 2em;
    font-family: 'Oswald', sans-seri;
}

.x{
    color: coral;
    font-family: 'Oswald', sans-seri;
    font-weight: 700;
}

.o{
    color: rgb(54, 47, 255);
    font-family: 'Oswald', sans-seri;
    font-weight: 700;
}

#message {
    text-align: center;
    font-size: 80px;
    font-family: 'Oswald', sans-seri;
    font-weight: 700;
    color: rgb(213, 86, 32);
    margin: 0px;
}
.winner {
    color: pink;
    font-weight: bold;
}

.winnerCell {
    background-color: aquamarine; 
}