body{
    margin: auto;
    font-family: 'Monoton', cursive;
    background-color: rgb(11, 11, 44);
}

.board {
    display: flex;
    flex-direction: column;

}
h1{
    text-align: center;
    font-size: 75px;
    color: violet;
    margin-bottom: 0px;
    font-family: 'Monoton', cursive;
}

.counter-container{
    display: flex;
    justify-content: center;
    gap:1em;
    margin-bottom: 1.5em;
    align-items:end;
}

p{
    font-family: 'Oswald', sans-seri;
    color:rgb(213, 86, 32);
    font-size:2em;
    font-weight: 700;
    margin:0;
}

input{
    border-radius:0.3em;
    font-size:1.5em;
    font-weight: 700;
    font-family: 'Oswald', sans-seri;
}

#x-point, #o-point{
    color:ghostwhite;
    font-family: 'Oswald', sans-seri;
    font-size: 3em;
    font-weight: 700;
    
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 225px;
    gap: 5px;
    margin: 0 auto;
    transform: translateX(-20%);   
}

.cell {
    width:100px;
    height: 100px;
    background-color: teal;
    border-radius: 0.3em;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:hover{
    position: relative;
    bottom: 5px;
}

.player-one{
    color:rgb(212, 88, 109);
}

.player-two{
    color: rgb(51, 33, 127);
}
.btn {
    padding:.4em;
    font-size: 30px;
    border-radius: 50%;
    background-color: rgb(7, 7, 180);
    border: solid 1px rgb(26, 233, 60);
    color: rgb(214, 162, 95);
    width: 150px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: 'Oswald', sans-seri;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(26, 233, 60);
}

#message {
    text-align: center;
    font-size: 80px;
    font-family: 'Oswald', sans-seri;
    font-weight: 700;
    color: rgb(213, 86, 32);
    margin: 0px;
}

@keyframes win {
  from {
    transform: translateY(-40px);
  }

  to {
    transform: translateY(30px);
    opacity:0;
  }
}

.winner {
    color: pink;
    font-weight: bold;
    animation: win 2s;
}

.winnerCell {
    background-color: aquamarine; 
}